@import "tailwindcss";


.slick-prev:before{
    display: none;
}
.slick-next:before{
    display: none;
}

input[type=range]::-webkit-slider-thumb{
    width: 16px;
    height:16px;
    border-radius: 50%;
    background: #FF624C;
    pointer-events: auto;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]::-moz-slider-thumb{
    width: 16px;
    height:16px;
    border-radius: 50%;
    background: #FF624C;
    pointer-events: auto;
    cursor: pointer;
    -webkit-appearance: none;
}